* {
  padding: 0;
  margin: 0;
  font-size: 24px;
  box-sizing: border-box;
}
html, body {
  margin: 40px;
  padding: 15px;
  background: #464655;
  box-sizing: border-box;
}
.inputs {
  border-radius: 10px;
  box-shadow: 2px 2px 1px #1D1D23;
  background: #94958B;
  margin: 0 auto;;
  padding: 15px;
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  color: #464655;
  font-size: .5em;
}
#screen {
  box-shadow: inset 2px 2px 1px #464655;
  color: #464655;
  background: #B7B6C1;
  margin-bottom: 10px;
  height: 30%;
  width: 90%;
  padding: 10% 5% 5% 5%;
  vertical-align: middle;
  border-radius: 10px;
}
input {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.num {
  background: #D5CFE1;
}
.operator {
  background: #B7B6C1;
}
.other {
  background: #B7B6C1;
}
